body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
  }

  #title, #container {
    padding: 1.4em;
  }

#container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  display: flex;
}

.box {
  border: 1px solid rgb(139, 139, 139);
  padding: 5px;
}
